<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RavenS</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</head>
<body>
  <main class="h-[100vh]">
	@!navbar()
    <div class="absolute z-10 inset-0 bg-bottom bg-no-repeat header--background ">
		<div class="absolute inset-0 bg-grid-slate-900/[0.04] bg-[bottom_1px_center] pattern--design"></div>
	</div>
                      <!-- Header -->

    <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 z-30">
        <div class="max-w-md w-full space-y-8 z-30 reveal">
          <div>
            <svg class="mx-auto h-12 w-auto" width="116" height="49" viewBox="0 0 116 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M33.4891 7.37753L50.6743 25.6562L73.3675 0L116 49L73.3675 13.3236V35.6707L56.623 28.8494L41.9164 41.182L50.6743 28.8494L33.4891 16.4067L26.7692 27.9685L24.566 26.5371L20.8205 35.4562L19.1681 27.9685L0 39.5303L14.1007 25.6562H20.2697L33.4891 7.37753Z" fill="#373D5B"/>
                </svg>
            <h2 class="mt-6 text-center text-3xl tracking-tight font-bold text-gray-900">Inscription</h2>
            <p class="mt-2 text-center text-sm text-gray-600">
              Ou
              <a href="/auth/login" class="font-medium text-indigo-600 hover:text-slate-700"> connexion à un compte existant </a>
            </p>
          </div>

                  <!-- Début du form -->
          
                  <form class="mt-8 space-y-6" action="{{ route('/auth/register') }}" method="POST">

         <input type="hidden" name="remember" value="true">
            <div class="rounded-md shadow-sm -space-y-px">
                <!-- Condition si une erreur apparaît avec le username -->
                @if(flashMessages.has('errors.username') || flashMessages.has('errors.password') || flashMessages.has('errors.password_confirmation') || flashMessages.has('errors.email'))
                     @!component('components.actionbar', {
                        type: 'error',
                        text: flashMessages.get('errors.username') || flashMessages.get('errors.password') || flashMessages.get('errors.password_confirmation') || flashMessages.get('errors.email'),
                      })
                    @endif
                         
                <div>
                    <label for="username" class="sr-only">Email</label>
                    <input id="username" name="username" type="text" autocomplete="username" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-slate-700 focus:border-slate-700 focus:z-10 sm:text-sm" placeholder="Pseudo">
                  </div>
              <div>
                <label for="email" class="sr-only">Email</label>
                <input id="email" name="email" type="email" autocomplete="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-slate-700 focus:border-slate-700 focus:z-10 sm:text-sm" placeholder="Email">
              </div>
              <div>
                <label for="password" class="sr-only">Mot de passe</label>
                <input id="password" name="password" type="password" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-slate-700 focus:border-slate-700 focus:z-10 sm:text-sm" placeholder="Mot de passe">
              </div>
              <div>
                <label for="password_confirmation" class="sr-only">Mot de passe</label>
                <input id="password_confirmation" name="password_confirmation" type="password" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-slate-700 focus:border-slate-700 focus:z-10 sm:text-sm" placeholder="Répétez le mot de passe">
              </div>
            </div>
      
            <div>
              <button id="register-button" type="submit" class="duration-200 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-slate-700 hover:bg-slate-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-700">
                <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                  <!-- Heroicon name: solid/lock-closed -->
                  <svg class="h-5 w-5 text-slate-500 group-hover:text-slate-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                  </svg>
                </span>
                Inscription
              </button>
            </div>
          </form>
        </div>
      </div>
      
  </main>

  <script type="text/javascript">
    function showError(message) {
      let d = [];
      d.push(message);
      @!component('components/actionbar', {
        text: d,
        type: 'error'
      })
    }
  </script>
  </body>
</html>
