<footer class="relative bottom-0 mt-16 left-0 right-0 shadow-md z-40 bg-slate-700 w-full h-64 justify-center items-center">
  <div class="relative justify-center bg-slate-700 w-full left-0 top-0">
    <br>
    <br>
    <img src="https://cdn.discordapp.com/attachments/866048310056976385/1010630005623115878/unknown.png" alt="RavenS" class="relative w-1/5 top-1/2 justify-center"> 
    <div class="flex flex-col justify-center items-center">
      <h1 class="text-3xl text-white">Lien Utiles:</h1>
      <a href="https://discord.gg/2Z4Z7Z9" target="_blank" class="text-blue-400 hover:text-blue-300">Discord</a>
      <a href="https://www.youtube.com/channel/UCZ4Z7Z9" target="_blank" class="text-blue-400 hover:text-blue-300">Youtube</a>
      <a href="https://www.twitch.tv/2Z4Z7Z9" target="_blank" class="text-blue-400 hover:text-blue-300">Twitch</a>
    </div>
    <br>
    
    <div class="flex align-middle justify-center items-center bottom-0 space-x-1 hover:text-gray-800">
      <a href="https://discord.gg/2wj9vYJPmq" target="_blank" class="text-white float-left">Fait avec </a>
      <a href="https://discord.gg/2wj9vYJPmq" target="_blank" class="animate-pulse float-left"><h1 class="animate-bounce">❤️​</h1></a>
      <a href="https://discord.gg/2wj9vYJPmq" target="_blank" class="text-white"> par Panda_Guerrier</a>
   </div>
   <br>
  </div>
</footer>