<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RavenS</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  <main class="h-[200vh]">
    
      <div> 
        <h1> Hello, {{ auth.user.username }} </h1>
      </div>

  </main>
</body>
</html>
