<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>RavenS</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>
  <body>
    <main class="h-[200vh]">
      @!component('components/navbar')

      <!--
        Première partie :
      -->
      <div class="relative inset-0 bg-bottom bg-no-repeat header--background">
        <div class="absolute inset-0 bg-grid-slate-900/[0.04] bg-[bottom_1px_center] pattern--design">
            <div class="relative justify-items-center grid top-32 w-full reveal"> 
              <img src="https://cdn.discordapp.com/attachments/954817727112048650/1010880461188378765/unknown.png" alt="RavenS" class="w-2/5">
              <div class="relative justify-items-center grid w-full space-y-16">
                <img src="https://cdn.discordapp.com/attachments/866048310056976385/1010938664378970182/text.png" alt="RavenS" class="w-2/5 items-center">
              <div class="flex space-x-8">
                  <a href="#achievements" class="relative duration-200 hover:bg-zinc-200 text-slate-700 px-5 py-3 rounded-md text-sm font-medium ml-2">Réalisations</a>
                  <a href="#achievements" class="relative duration-200 bg-slate-700 hover:bg-slate-600 text-white px-5 py-3 rounded-md text-sm font-medium">Faire un devis</a>
                </div>
                <a id="presentation" href="#presentation" class="relative animate-bounce duration-200 text-slate-700 px-5 py-3 hover:bg-zinc-100 rounded-full text-sm font-medium mt-16">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19 14l-7 7m0 0l-7-7m7 7V3" />
                  </svg>
                </a>
              </div>     
            </div>      
          </div>
        </div>

        <!--
          Deuxième partie :
        -->

        <div class="relative w-full h-96 bg-slate-700 text-white flex justify-center">
          <div class="flex justify-center items-center w-2/3 h-full">
            <img src="https://cdn.discordapp.com/attachments/866048310056976385/1011271193212506162/unknown.png" alt="RavenS" class="h-1/2 mx-8">
            <h1 class="text-white-800 text-2xl text-center">Salut, je suis RavenS, un jeune de 19 ans passionné d’informatique, de graphisme et de montage.</h1>
            <img src="https://cdn.discordapp.com/attachments/866048310056976385/1010630005623115878/unknown.png" alt="RavenS" class="h-1/5 mx-8 mb-6"> 
         </div>            
        </div>

        <!--
          Troisième partie :
        -->
        <div class="flex justify-center flex-col items-center mt-16 w-full">
          <div class="flex justify-start items-start w-1/2 border border-gray-200 rounded-t-md">
            <div>
              <button class="relative py-4 w-52 bg-white tablinks border-r" onclick="clickHandle(event, 'Trailers')">Trailers</button>
              <button class="relative py-4 w-52 bg-white tablinks border-r" onclick="clickHandle(event, 'Logos')">Logos</button>
              <button class="relative py-4 w-52 bg-white tablinks border-r" onclick="clickHandle(event, 'Bannières')">Bannières</button>
            </div>
         </div>
      </div>
      <section id="Trailers" class="tabcontent max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 top-0 w-2/4 border border-gray-200 rounded-b-md border-t-white">
          <div class="grid grid-cols-1 md:grid-cols-2 py-12 lg:grid-cols-4 gap-5 max-w-full mx-auto mb-12 place-items-stretch bg-white w-full">
            @each((trailer, index) in trailers)
            <a href={{ "/posts/" + trailer.id }} class="delay-300">
              <div class="delay-300 h-full">
              <div class="bg-white h-full border border-gray-200 hover:border-slate-400 transition duration-300 rounded-md">
                <div class="p-5 h-full flex flex-col justify-between">
                  <div class="flex flex-col overflow-hidden gap-4">
                    <p class="lg:text-sm">{{ trailer.title }}</p>
                    <div class="relative">
                      <iframe class="max-h-48 max-w-48 object-cover rounded-md" src="{{ trailer.url }}" alt=""></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
            @endeach
          </div>
      </section>

      <section id="Logos" class="hidden tabcontent max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 top-0 w-2/4 border border-gray-200 rounded-b-md border-t-white">
        <div class="grid grid-cols-1 md:grid-cols-2 py-12 lg:grid-cols-4 gap-5 max-w-full mx-auto mb-12 place-items-stretch bg-white w-full">
          @each((logo, index) in logos)
          <a href={{ "/posts/" + logo.id }} class="delay-300">
            <div class="delay-300 h-full">
            <div class="bg-white h-full border border-gray-200 hover:border-slate-400 transition duration-300 rounded-md">
              <div class="p-5 h-full flex flex-col justify-between">
                <div class="flex flex-col overflow-hidden gap-4">
                  <p class="lg:text-sm">{{ logo.title }}</p>
                  <div class="relative">
                    <img class="max-h-48 max-w-48 object-cover rounded-md" src="{{ logo.img.url }}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
          @endeach
        </div>
    </section>

    <section id="Bannières" class="hidden tabcontent max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 top-0 w-2/4 border border-gray-200 rounded-b-md border-t-white">
      <div class="grid grid-cols-1 md:grid-cols-2 py-12 lg:grid-cols-4 gap-5 max-w-full mx-auto mb-12 place-items-stretch bg-white w-full">
        @each((banniere, index) in bannieres)
        <a href={{ "/posts/" + banniere.id }} class="delay-300">
          <div class="delay-300 h-full">
          <div class="bg-white h-full border border-gray-200 hover:border-slate-400 transition duration-300 rounded-md">
            <div class="p-5 h-full flex flex-col justify-between">
              <div class="flex flex-col overflow-hidden gap-4">
                <p class="lg:text-sm">{{ banniere.title }}</p>
                <div class="relative">
                  <img class="max-h-48 max-w-48 object-cover rounded-md" src="{{ banniere.img.url }}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
        @endeach
      </div>
  </section>
         <script>
         function clickHandle(evt, animalName) {
           let i, tabcontent, tablinks;
         
           // This is to clear the previous clicked content.
           tabcontent = document.getElementsByClassName("tabcontent");
           for (i = 0; i < tabcontent.length; i++) {
             tabcontent[i].style.display = "none";
           }
         
           // Set the tab to be "active".
           tablinks = document.getElementsByClassName("tablinks");
           for (i = 0; i < tablinks.length; i++) {
             tablinks[i].className = tablinks[i].className.replace(" active", "");
             tablinks[i].className = tablinks[i].className.replace(" bg-gray-200", "");

           }
         
           // Display the clicked tab and set it to active.
           document.getElementById(animalName).style.display = "block";
           evt.currentTarget.className += " active bg-gray-200";
         }
         </script>
    </main>
  </body>
</html>
