<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>RavenS</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>
  <body>
    <main class="h-[200vh]">
      @!component('components/navbar')

      <!--
        Première partie :
      -->
      <div class="relative inset-0 bg-bottom bg-no-repeat header--background">
        <div class="absolute inset-0 bg-grid-slate-900/[0.04] bg-[bottom_1px_center] pattern--design">
            <div class="relative justify-items-center grid top-32 w-full reveal"> 
              <img src="https://cdn.discordapp.com/attachments/954817727112048650/1010880461188378765/unknown.png" alt="RavenS" class="w-2/5">
              <div class="relative justify-items-center grid w-full space-y-16">
                <img src="https://cdn.discordapp.com/attachments/866048310056976385/1010938664378970182/text.png" alt="RavenS" class="w-2/5 items-center">
              <div class="flex space-x-8">
                  <a href="#achievements" class="relative duration-200 hover:bg-zinc-200 text-slate-700 px-5 py-3 rounded-md text-sm font-medium ml-2">Réalisations</a>
                  <a href="#achievements" class="relative duration-200 bg-slate-700 hover:bg-slate-600 text-white px-5 py-3 rounded-md text-sm font-medium">Faire un devis</a>
                </div>
                <a id="presentation" href="#presentation" class="relative animate-bounce duration-200 text-slate-700 px-5 py-3 hover:bg-zinc-100 rounded-full text-sm font-medium mt-16">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19 14l-7 7m0 0l-7-7m7 7V3" />
                  </svg>
                </a>
              </div>     
            </div>      
          </div>
        </div>

        <!--
          Deuxième partie :
        -->

        <div class="relative w-full h-96 bg-slate-700 text-white flex justify-center reveal">
          <div class="flex justify-center items-center w-2/3 h-full">
            <img src="https://cdn.discordapp.com/attachments/866048310056976385/1011271193212506162/unknown.png" alt="RavenS" class="h-1/2 mx-8">
            <h1 class="text-white-800 text-2xl text-center">Salut, je suis RavenS, un jeune de 19 ans passionné d’informatique, de graphisme et de montage.</h1>
            <img src="https://cdn.discordapp.com/attachments/866048310056976385/1010630005623115878/unknown.png" alt="RavenS" class="h-1/5 mx-8 mb-6"> 
         </div>            
        </div>

        <!--
          Troisième partie :
        -->

              <ul class="nav nav-tabs flex flex-col md:flex-row flex-wrap list-none border-b-0 pl-0 mb-4" id="tabs-tab"
        role="tablist">
        <li class="nav-item" role="presentation">
          <a href="#tabs-home" class="
            nav-link
            block
            font-medium
            text-xs
            leading-tight
            uppercase
            border-x-0 border-t-0 border-b-2 border-transparent
            px-6
            py-3
            my-2
            hover:border-transparent hover:bg-gray-100
            focus:border-transparent
            active
          " id="tabs-home-tab" data-bs-toggle="pill" data-bs-target="#tabs-home" role="tab" aria-controls="tabs-home"
            aria-selected="true">Home</a>
        </li>
        <li class="nav-item" role="presentation">
          <a href="#tabs-profile" class="
            nav-link
            block
            font-medium
            text-xs
            leading-tight
            uppercase
            border-x-0 border-t-0 border-b-2 border-transparent
            px-6
            py-3
            my-2
            hover:border-transparent hover:bg-gray-100
            focus:border-transparent
          " id="tabs-profile-tab" data-bs-toggle="pill" data-bs-target="#tabs-profile" role="tab"
            aria-controls="tabs-profile" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item" role="presentation">
          <a href="#tabs-messages" class="
            nav-link
            block
            font-medium
            text-xs
            leading-tight
            uppercase
            border-x-0 border-t-0 border-b-2 border-transparent
            px-6
            py-3
            my-2
            hover:border-transparent hover:bg-gray-100
            focus:border-transparent
          " id="tabs-messages-tab" data-bs-toggle="pill" data-bs-target="#tabs-messages" role="tab"
            aria-controls="tabs-messages" aria-selected="false">Messages</a>
        </li>
        <li class="nav-item" role="presentation">
          <a href="#tabs-contact" class="
            nav-link
            disabled
            pointer-events-none
            block
            font-medium
            text-xs
            leading-tight
            uppercase
            border-x-0 border-t-0 border-b-2 border-transparent
            px-6
            py-3
            my-2
            hover:border-transparent hover:bg-gray-100
            focus:border-transparent
          " id="tabs-contact-tab" data-bs-toggle="pill" data-bs-target="#tabs-contact" role="tab"
            aria-controls="tabs-contact" aria-selected="false">Contact</a>
        </li>
      </ul>
      <div class="tab-content" id="tabs-tabContent">
        <div class="tab-pane fade show active" id="tabs-home" role="tabpanel" aria-labelledby="tabs-home-tab">
          Tab 1 content
        </div>
        <div class="tab-pane fade" id="tabs-profile" role="tabpanel" aria-labelledby="tabs-profile-tab">
          Tab 2 content
        </div>
        <div class="tab-pane fade" id="tabs-messages" role="tabpanel" aria-labelledby="tabs-profile-tab">
          Tab 3 content
        </div>
        <div class="tab-pane fade" id="tabs-contact" role="tabpanel" aria-labelledby="tabs-contact-tab">
          Tab 4 content
        </div>
      </div>
    </main>
  </body>
</html>
