<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RavenS</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>
  <body>
    <main class="h-[200vh]">
      @!component('components/navbar')

      <!--
        Première partie :
      -->

            <div class="relative flex justify-items-center grid top-32 w-full reveal "> 
              <h1>{{ post.title }} </h1>
              <div id="firstDiv"> {{{ post.content }}}</div>   
            </div>      
    </main>
    <script> 
    function myFunction(e) {
                console.log(e);
                let parser = new DOMParser();
                let doc = parser.parseFromString(str, 'text/html');
                return doc.body;
            }
    </script>
  </body>
</html>
