@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import './tailwind.css';
@font-face {
  font-family: 'bebas';
  src: url('../policies/BebasNeue-Regular.ttf');
} 
html, body {
  font-family: 'Poppins', sans-serif;
  color: #46444c;
  position: relative;
  transition: 10s ease-in;
  scroll-behavior: smooth;
}

.header--background .pattern--design {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(15 23 42 / 0.04)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

.header--background {
  background-image: url('https://cdn.discordapp.com/attachments/993488910535630888/1009940917936996383/Screenshot_from_2022-08-18_23-44-20.png');
  height: 100vh;
  background-size: 150rem;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.logoletter { 
  letter-spacing: 70px;
  font-family: 'bebas';
}
